<!--
    Title: not-found.component.css
    Author: Phuong Tran
    Date: 06/22/2024
    Description: WEB 450 - nodebucket.
-->
<div class="page-not-found-container">
  <img src="../../assets/404-pagenotfound.PNG" alt="page not found image">
  <h1 class="light-blue">Oops! 404 - PAGE NOT FOUND</h1>
  <p class="dark-orange">The page you are looking for might have been removed, had its name changed or is temporarily unavailable.</p>
  <button type="button" class="btn bg-blue text-white fw-bold">
      <a (click)="goBack()" class="link text-decoration-none text-white">GO TO HOMEPAGE</a>
  </button>
  <br>
  <br>
</div>