<!--
 * Title: about.component.html
 * Author: Phuong tran
 * Date: 06/22/2024
 * Description: WEB-450 NodeBucket.
-->

<br>
<br>
<br>
<br>

<div class="about-us-container">
    <h1 class="dark-blue">About Us</h1>

    <a routerLink="/tasks" class="link p-2">
    </a>
    <br>

    <p class="dark-orange">Welcome to the Nodebucket Task Manager Application. This is your reliable digital tool for organizing tasks.
       Nodebucket is perfect for those who find satisfaction in a neatly organized list and appreciate a streamlined approach to managing their day.
      Developed through the collaborative efforts of a dedicated team, Nodebucket represents a commitment to simplicity and effectiveness in task management.
       We believe in a tool that serves its purpose without complication, reflecting a clear focus on helping you achieve
       your objectives.
    </p>
    <p class="dark-orange">Nodebucket is the sensible choice for anyone who values order and straightforward efficiency when planning
       their daily activities. We ensure that your tasks are protected with user login features,
        and your information remains confidential. We prioritize ease of use, so managing your tasks feels natural and intuitive. With our drag-and-drop functionality,
        we reorganize and prioritize your tasks in straightforward way.
    </p>
    <p class="dark-orange">
      Ready to simplify your tasks and amplify your productivity?<i> Contact us today!</i>
    </p>
</div>

